@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
body {
  padding-bottom: 56px;
  background-color: #171717;
}

/* Контейнер для контента */
.page-container {
  width: 100%;
  margin: 0 auto;
}

/* Только desktop */
@media (min-width: 1024px) {
  .page-container {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

.navbar-inner {
  width: 100%;
  margin: 0 auto;
}

/* desktop */
@media (min-width: 1024px) {
  .navbar-inner {
    max-width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.navbar-inner {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;

}


.dark-input {
  background-color: #2e2e2e;
  color: #e5e7eb;
  border: 1px solid #3a3f44;
  border-radius: 8px;
  font-size: 14.5px;
  padding: 8px 12px;
  transition: border-color 0.15s ease, box-shadow 0.15s ease,
    background-color 0.15s ease;
}

.dark-input::placeholder {
  color: #9ca3af;
}

.dark-input:hover {
  border-color: #6b7280;
}

.dark-input:focus {
  outline: none;
  background-color: #2a2d2f;
  border-color: #84cc16;
  box-shadow: 0 0 0 2px rgba(132, 204, 22, 0.25);
  color: #ffffff;
}
html,
body {
  margin: 0;
  padding: 0;
}
